# Objective of Course

* Apply Python concepts to real world application development

# Application Level Components

* User interface
* Data storage
* Connectivity
* Main logic
* Testing frameworks

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

## User Interface

An application doesn't necessarily need a graphical user interface (GUI). It can be run automatically at certain times or under certain conditions. For example this can run at 3 AM.

`cleanup_tmp_files.py --location /tmp`

Alternatively, it can be a command line interface similar to the Python interpreter.

```
todo.py
Enter your task: Clean the dishes
Task created
```

For graphical interfaces, Python can use `Tkniter`, `wxPython`, or many other graphical interface frameworks.

This presentation will be based on the first example, which may be run automatically.

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

## Data Storage

Data storage can be in a database, flat files, or even an Excel file.

### <font color="#D21087">Excel Files</font>

<font color='#544640'>We'll open an Excel (.xlsx) containing some stock ticker symbols with prices.

We're going to use `pandas`, a very powerful data science and data manipulation library that can handle large amounts of multidimensional "panel data" (hence the name) efficiently. It is generally used for data science and computing applications.

It's also convenient for accessing and handling tabular data. There are *many* libraries that can handle Excel files, `pandas` is only one. `pandas` comes with some caveats (and limitations) that we won't go into here, related to it's original intended use; i.e. it is definitely not just a 'excel reader' library!

Side note: `pandas` objects are called `dataframes`, much like R's native data structure and are very similar.

For our purposes, here is the relevant doc:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html</font>

In [0]:
# environment setup
import os
import pandas as pd

First we will import the data from the spreadsheet into Python and Pandas.

In [0]:
data = pd.read_excel('/content/Ticker Symbols.xlsx', sheet_name = None)

<font color='#544640'>That was easy. When we specify sheet_name, we can do so using  `pd.read_excel` returns a `dict` whose key values are the names of the sheets in the `xlsx` document.</font>

In [0]:
list(data.keys())

['Stocks']

Notice the list above shows the worksheet from the spreadsheet. Now we can list the stocks we want to pull the price for.

In [0]:
dataframe = data['Stocks']
dataframe['Ticker']

0    NSIT
1    MSFT
2    CSCO
3    AAPL
Name: Ticker, dtype: object

Very cool. We now have a list of ticker symbols we want to retrieve stock prices for.

---

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

# Screen Scraping

## Connectivity

Connectivity can mean a lot of things. It can be connecting to a database for your data storage retrieval. Today's example will require us to retrieve the stock prices for the tickers in the Excel spreadsheet.

`requests` is a very common library for HTTP requests in Python. `requests` will communicate with Alpha Vantage's API (https://www.alphavantage.co/) for stock price lookups.

First, we need to import requests.

First, we need to construct our URL based on the API documentation (https://www.alphavantage.co/documentation/).

In [0]:
import requests

API_KEY=""
params = {'function': 'TIME_SERIES_DAILY',
          'symbol': 'MSFT',
          'apikey': API_KEY}
response = requests.get('https://www.alphavantage.co/query', params=params)
response.url

'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=NWL4TGYBVPSU0QHW'

Notice the URL has the keys and values in the dictionary I specified. What did Alpha Advantage return to us? Lets see in JSON format.

In [0]:
response.json()

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'MSFT',
  '3. Last Refreshed': '2019-06-17 14:48:10',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2019-01-24': {'1. open': '106.8600',
   '2. high': '107.0000',
   '3. low': '105.3400',
   '4. close': '106.2000',
   '5. volume': '23164838'},
  '2019-01-25': {'1. open': '107.2400',
   '2. high': '107.8800',
   '3. low': '106.5900',
   '4. close': '107.1700',
   '5. volume': '31218193'},
  '2019-01-28': {'1. open': '106.2600',
   '2. high': '106.4800',
   '3. low': '104.6600',
   '4. close': '105.0800',
   '5. volume': '29476719'},
  '2019-01-29': {'1. open': '104.8800',
   '2. high': '104.9700',
   '3. low': '102.1700',
   '4. close': '102.9400',
   '5. volume': '31490547'},
  '2019-01-30': {'1. open': '104.6200',
   '2. high': '106.3800',
   '3. low': '104.3300',
   '4. close': '106.3800',
   '5. volume': '49471866'},
  '2019-01-31': {'1. open': '103.8000',
   '2. high': '105.2200',
   '3. low': '103.1800',
   '4. close': '104.4300',
   '5. volume': '55636391'},
  '2019-02-01': {'1. open': '103.7750',
   '2. high': '104.0999',
   '3. low': '102.3500',
   '4. close': '102.7800',
   '5. volume': '35535690'},
  '2019-02-04': {'1. open': '102.8700',
   '2. high': '105.8000',
   '3. low': '102.7700',
   '4. close': '105.7400',
   '5. volume': '31315282'},
  '2019-02-05': {'1. open': '106.0600',
   '2. high': '107.2700',
   '3. low': '105.9600',
   '4. close': '107.2200',
   '5. volume': '27325365'},
  '2019-02-06': {'1. open': '107.0000',
   '2. high': '107.0000',
   '3. low': '105.5300',
   '4. close': '106.0300',
   '5. volume': '20609759'},
  '2019-02-07': {'1. open': '105.1850',
   '2. high': '105.5900',
   '3. low': '104.2900',
   '4. close': '105.2700',
   '5. volume': '29760697'},
  '2019-02-08': {'1. open': '104.3900',
   '2. high': '105.7800',
   '3. low': '104.2603',
   '4. close': '105.6700',
   '5. volume': '21461093'},
  '2019-02-11': {'1. open': '106.2000',
   '2. high': '106.5800',
   '3. low': '104.9650',
   '4. close': '105.2500',
   '5. volume': '18914123'},
  '2019-02-12': {'1. open': '106.1400',
   '2. high': '107.1400',
   '3. low': '105.4800',
   '4. close': '106.8900',
   '5. volume': '25056595'},
  '2019-02-13': {'1. open': '107.5000',
   '2. high': '107.7800',
   '3. low': '106.7100',
   '4. close': '106.8100',
   '5. volume': '18394869'},
  '2019-02-14': {'1. open': '106.3100',
   '2. high': '107.2900',
   '3. low': '105.6600',
   '4. close': '106.9000',
   '5. volume': '21784703'},
  '2019-02-15': {'1. open': '107.9100',
   '2. high': '108.3000',
   '3. low': '107.3624',
   '4. close': '108.2200',
   '5. volume': '26606886'},
  '2019-02-19': {'1. open': '107.7900',
   '2. high': '108.6600',
   '3. low': '107.7800',
   '4. close': '108.1700',
   '5. volume': '18038460'},
  '2019-02-20': {'1. open': '107.8600',
   '2. high': '107.9400',
   '3. low': '106.2900',
   '4. close': '107.1500',
   '5. volume': '21607671'},
  '2019-02-21': {'1. open': '106.9000',
   '2. high': '109.4800',
   '3. low': '106.8700',
   '4. close': '109.4100',
   '5. volume': '29063231'},
  '2019-02-22': {'1. open': '110.0500',
   '2. high': '111.2000',
   '3. low': '109.8200',
   '4. close': '110.9700',
   '5. volume': '27763218'},
  '2019-02-25': {'1. open': '111.7600',
   '2. high': '112.1800',
   '3. low': '111.2600',
   '4. close': '111.5900',
   '5. volume': '23750599'},
  '2019-02-26': {'1. open': '111.2600',
   '2. high': '113.2400',
   '3. low': '111.1700',
   '4. close': '112.3600',
   '5. volume': '21536733'},
  '2019-02-27': {'1. open': '111.6900',
   '2. high': '112.3600',
   '3. low': '110.8800',
   '4. close': '112.1700',
   '5. volume': '21487062'},
  '2019-02-28': {'1. open': '112.0400',
   '2. high': '112.8800',
   '3. low': '111.7300',
   '4. close': '112.0300',
   '5. volume': '29083934'},
  '2019-03-01': {'1. open': '112.8900',
   '2. high': '113.0200',
   '3. low': '111.6650',
   '4. close': '112.5300',
   '5. volume': '23501169'},
  '2019-03-04': {'1. open': '113.0200',
   '2. high': '113.2500',
   '3. low': '110.8000',
   '4. close': '112.2600',
   '5. volume': '26608014'},
  '2019-03-05': {'1. open': '112.2500',
   '2. high': '112.3900',
   '3. low': '111.2300',
   '4. close': '111.7000',
   '5. volume': '19538318'},
  '2019-03-06': {'1. open': '111.8700',
   '2. high': '112.6600',
   '3. low': '111.4300',
   '4. close': '111.7500',
   '5. volume': '17686996'},
  '2019-03-07': {'1. open': '111.4000',
   '2. high': '111.5500',
   '3. low': '109.8650',
   '4. close': '110.3900',
   '5. volume': '25338954'},
  '2019-03-08': {'1. open': '109.1600',
   '2. high': '110.7100',
   '3. low': '108.8000',
   '4. close': '110.5100',
   '5. volume': '22818430'},
  '2019-03-11': {'1. open': '110.9900',
   '2. high': '112.9500',
   '3. low': '110.9800',
   '4. close': '112.8300',
   '5. volume': '26491618'},
  '2019-03-12': {'1. open': '112.8200',
   '2. high': '113.9900',
   '3. low': '112.6499',
   '4. close': '113.6200',
   '5. volume': '26132717'},
  '2019-03-13': {'1. open': '114.1300',
   '2. high': '115.0000',
   '3. low': '113.7800',
   '4. close': '114.5000',
   '5. volume': '35513771'},
  '2019-03-14': {'1. open': '114.5400',
   '2. high': '115.2000',
   '3. low': '114.3300',
   '4. close': '114.5900',
   '5. volume': '30763367'},
  '2019-03-15': {'1. open': '115.3400',
   '2. high': '117.2500',
   '3. low': '114.5900',
   '4. close': '115.9100',
   '5. volume': '54630661'},
  '2019-03-18': {'1. open': '116.1700',
   '2. high': '117.6100',
   '3. low': '116.0500',
   '4. close': '117.5700',
   '5. volume': '31207596'},
  '2019-03-19': {'1. open': '118.0900',
   '2. high': '118.4400',
   '3. low': '116.9900',
   '4. close': '117.6500',
   '5. volume': '37588697'},
  '2019-03-20': {'1. open': '117.3900',
   '2. high': '118.7500',
   '3. low': '116.7100',
   '4. close': '117.5200',
   '5. volume': '28113343'},
  '2019-03-21': {'1. open': '117.1350',
   '2. high': '120.8200',
   '3. low': '117.0900',
   '4. close': '120.2200',
   '5. volume': '29854446'},
  '2019-03-22': {'1. open': '119.5000',
   '2. high': '119.5900',
   '3. low': '117.0400',
   '4. close': '117.0500',
   '5. volume': '33624528'},
  '2019-03-25': {'1. open': '116.5600',
   '2. high': '118.0100',
   '3. low': '116.3224',
   '4. close': '117.6600',
   '5. volume': '27067117'},
  '2019-03-26': {'1. open': '118.6200',
   '2. high': '118.7050',
   '3. low': '116.8500',
   '4. close': '117.9100',
   '5. volume': '26097665'},
  '2019-03-27': {'1. open': '117.8750',
   '2. high': '118.2100',
   '3. low': '115.5215',
   '4. close': '116.7700',
   '5. volume': '22733427'},
  '2019-03-28': {'1. open': '117.4400',
   '2. high': '117.5800',
   '3. low': '116.1300',
   '4. close': '116.9300',
   '5. volume': '18334755'},
  '2019-03-29': {'1. open': '118.0700',
   '2. high': '118.3200',
   '3. low': '116.9600',
   '4. close': '117.9400',
   '5. volume': '25399752'},
  '2019-04-01': {'1. open': '118.9500',
   '2. high': '119.1085',
   '3. low': '118.1000',
   '4. close': '119.0200',
   '5. volume': '22789103'},
  '2019-04-02': {'1. open': '119.0600',
   '2. high': '119.4800',
   '3. low': '118.5200',
   '4. close': '119.1900',
   '5. volume': '18142297'},
  '2019-04-03': {'1. open': '119.8600',
   '2. high': '120.4300',
   '3. low': '119.1500',
   '4. close': '119.9700',
   '5. volume': '22860744'},
  '2019-04-04': {'1. open': '120.1000',
   '2. high': '120.2300',
   '3. low': '118.3800',
   '4. close': '119.3600',
   '5. volume': '20112848'},
  '2019-04-05': {'1. open': '119.3900',
   '2. high': '120.2300',
   '3. low': '119.3700',
   '4. close': '119.8900',
   '5. volume': '15826245'},
  '2019-04-08': {'1. open': '119.8100',
   '2. high': '120.0200',
   '3. low': '118.6400',
   '4. close': '119.9300',
   '5. volume': '15116186'},
  '2019-04-09': {'1. open': '118.6300',
   '2. high': '119.5400',
   '3. low': '118.5800',
   '4. close': '119.2800',
   '5. volume': '17611981'},
  '2019-04-10': {'1. open': '119.7600',
   '2. high': '120.3500',
   '3. low': '119.5400',
   '4. close': '120.1900',
   '5. volume': '16477169'},
  '2019-04-11': {'1. open': '120.5400',
   '2. high': '120.8500',
   '3. low': '119.9200',
   '4. close': '120.3300',
   '5. volume': '14209121'},
  '2019-04-12': {'1. open': '120.6400',
   '2. high': '120.9800',
   '3. low': '120.3700',
   '4. close': '120.9500',
   '5. volume': '19745143'},
  '2019-04-15': {'1. open': '120.9400',
   '2. high': '121.5800',
   '3. low': '120.5700',
   '4. close': '121.0500',
   '5. volume': '15792572'},
  '2019-04-16': {'1. open': '121.6400',
   '2. high': '121.6500',
   '3. low': '120.1000',
   '4. close': '120.7700',
   '5. volume': '14071787'},
  '2019-04-17': {'1. open': '121.2400',
   '2. high': '121.8500',
   '3. low': '120.5400',
   '4. close': '121.7700',
   '5. volume': '19300938'},
  '2019-04-18': {'1. open': '122.1900',
   '2. high': '123.5200',
   '3. low': '121.3018',
   '4. close': '123.3700',
   '5. volume': '27990998'},
  '2019-04-22': {'1. open': '122.6200',
   '2. high': '124.0000',
   '3. low': '122.5700',
   '4. close': '123.7600',
   '5. volume': '15648724'},
  '2019-04-23': {'1. open': '124.1000',
   '2. high': '125.5800',
   '3. low': '123.8300',
   '4. close': '125.4400',
   '5. volume': '24025521'},
  '2019-04-24': {'1. open': '125.7900',
   '2. high': '125.8500',
   '3. low': '124.5200',
   '4. close': '125.0100',
   '5. volume': '31256980'},
  '2019-04-25': {'1. open': '130.0600',
   '2. high': '131.3700',
   '3. low': '128.8300',
   '4. close': '129.1500',
   '5. volume': '38033892'},
  '2019-04-26': {'1. open': '129.7000',
   '2. high': '130.5152',
   '3. low': '129.0200',
   '4. close': '129.8900',
   '5. volume': '23654933'},
  '2019-04-29': {'1. open': '129.9000',
   '2. high': '130.1800',
   '3. low': '129.3500',
   '4. close': '129.7700',
   '5. volume': '16324183'},
  '2019-04-30': {'1. open': '129.8100',
   '2. high': '130.7000',
   '3. low': '129.3947',
   '4. close': '130.6000',
   '5. volume': '24166503'},
  '2019-05-01': {'1. open': '130.5300',
   '2. high': '130.6500',
   '3. low': '127.7000',
   '4. close': '127.8800',
   '5. volume': '26821692'},
  '2019-05-02': {'1. open': '127.9800',
   '2. high': '128.0000',
   '3. low': '125.5200',
   '4. close': '126.2100',
   '5. volume': '27350161'},
  '2019-05-03': {'1. open': '127.3600',
   '2. high': '129.4300',
   '3. low': '127.2500',
   '4. close': '128.9000',
   '5. volume': '24911126'},
  '2019-05-06': {'1. open': '126.3900',
   '2. high': '128.5600',
   '3. low': '126.1100',
   '4. close': '128.1500',
   '5. volume': '24239464'},
  '2019-05-07': {'1. open': '126.4600',
   '2. high': '127.1800',
   '3. low': '124.2200',
   '4. close': '125.5200',
   '5. volume': '36017661'},
  '2019-05-08': {'1. open': '125.4400',
   '2. high': '126.3700',
   '3. low': '124.7500',
   '4. close': '125.5100',
   '5. volume': '28418996'},
  '2019-05-09': {'1. open': '124.2900',
   '2. high': '125.7900',
   '3. low': '123.5700',
   '4. close': '125.5000',
   '5. volume': '27235835'},
  '2019-05-10': {'1. open': '124.9100',
   '2. high': '127.9300',
   '3. low': '123.8200',
   '4. close': '127.1300',
   '5. volume': '30915084'},
  '2019-05-13': {'1. open': '124.1100',
   '2. high': '125.5500',
   '3. low': '123.0400',
   '4. close': '123.3500',
   '5. volume': '33944923'},
  '2019-05-14': {'1. open': '123.8700',
   '2. high': '125.8800',
   '3. low': '123.7000',
   '4. close': '124.7300',
   '5. volume': '25266315'},
  '2019-05-15': {'1. open': '124.2600',
   '2. high': '126.7100',
   '3. low': '123.7000',
   '4. close': '126.0200',
   '5. volume': '24722708'},
  '2019-05-16': {'1. open': '126.7500',
   '2. high': '129.3800',
   '3. low': '126.4600',
   '4. close': '128.9300',
   '5. volume': '30112216'},
  '2019-05-17': {'1. open': '128.3050',
   '2. high': '130.4600',
   '3. low': '127.9200',
   '4. close': '128.0700',
   '5. volume': '25770539'},
  '2019-05-20': {'1. open': '126.5200',
   '2. high': '127.5894',
   '3. low': '125.7607',
   '4. close': '126.2200',
   '5. volume': '23706934'},
  '2019-05-21': {'1. open': '127.4300',
   '2. high': '127.5273',
   '3. low': '126.5800',
   '4. close': '126.9000',
   '5. volume': '15293260'},
  '2019-05-22': {'1. open': '126.6200',
   '2. high': '128.2400',
   '3. low': '126.5200',
   '4. close': '127.6700',
   '5. volume': '15396485'},
  '2019-05-23': {'1. open': '126.2000',
   '2. high': '126.2900',
   '3. low': '124.7400',
   '4. close': '126.1800',
   '5. volume': '23603810'},
  '2019-05-24': {'1. open': '126.9100',
   '2. high': '127.4150',
   '3. low': '125.9700',
   '4. close': '126.2400',
   '5. volume': '14123358'},
  '2019-05-28': {'1. open': '126.9800',
   '2. high': '128.0000',
   '3. low': '126.0500',
   '4. close': '126.1600',
   '5. volume': '23128359'},
  '2019-05-29': {'1. open': '125.3800',
   '2. high': '125.3900',
   '3. low': '124.0400',
   '4. close': '124.9400',
   '5. volume': '22763140'},
  '2019-05-30': {'1. open': '125.2600',
   '2. high': '125.7600',
   '3. low': '124.7800',
   '4. close': '125.7300',
   '5. volume': '16829613'},
  '2019-05-31': {'1. open': '124.2300',
   '2. high': '124.6150',
   '3. low': '123.3200',
   '4. close': '123.6800',
   '5. volume': '26646769'},
  '2019-06-03': {'1. open': '123.8500',
   '2. high': '124.3700',
   '3. low': '119.0100',
   '4. close': '119.8400',
   '5. volume': '37983637'},
  '2019-06-04': {'1. open': '121.2800',
   '2. high': '123.2800',
   '3. low': '120.6522',
   '4. close': '123.1600',
   '5. volume': '29382642'},
  '2019-06-05': {'1. open': '124.9500',
   '2. high': '125.8700',
   '3. low': '124.2100',
   '4. close': '125.8300',
   '5. volume': '24926140'},
  '2019-06-06': {'1. open': '126.4400',
   '2. high': '127.9700',
   '3. low': '125.6000',
   '4. close': '127.8200',
   '5. volume': '21458961'},
  '2019-06-07': {'1. open': '129.1900',
   '2. high': '132.2500',
   '3. low': '128.2600',
   '4. close': '131.4000',
   '5. volume': '33885588'},
  '2019-06-10': {'1. open': '132.4000',
   '2. high': '134.0800',
   '3. low': '132.0000',
   '4. close': '132.6000',
   '5. volume': '26477098'},
  '2019-06-11': {'1. open': '133.8800',
   '2. high': '134.2400',
   '3. low': '131.2757',
   '4. close': '132.1000',
   '5. volume': '23913731'},
  '2019-06-12': {'1. open': '131.4000',
   '2. high': '131.9700',
   '3. low': '130.7100',
   '4. close': '131.4900',
   '5. volume': '17092464'},
  '2019-06-13': {'1. open': '131.9800',
   '2. high': '132.6700',
   '3. low': '131.5600',
   '4. close': '132.3200',
   '5. volume': '17200848'},
  '2019-06-14': {'1. open': '132.2600',
   '2. high': '133.7900',
   '3. low': '131.6400',
   '4. close': '132.4500',
   '5. volume': '17821703'},
  '2019-06-17': {'1. open': '132.6300',
   '2. high': '133.7300',
   '3. low': '132.5300',
   '4. close': '133.0500',
   '5. volume': '8290390'}}}

That's a lot. 100 days of data to be precise. What about today's opening price?

In [0]:
from datetime import datetime

current = datetime.today().strftime('%Y-%m-%d')
prices = response.json()
prices['Time Series (Daily)'][current]['1. open']

'132.6300'

We have the proper components ready to go for this example. Data storage via Excel. Connectivity over a RESTful API using requests. Lets tie it together.

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

## Main Logic

The main logic of the program is really what controls everything. It's the glue that brings your Lego pieces together. Don't be that guy. Don't use glue on your Lego pieces.

First, we should move the components into functions.

In [0]:
def get_stock_opening_price(symbol):
    params = {'function': 'TIME_SERIES_DAILY',
              'symbol': symbol,
              'apikey': API_KEY}
    response = requests.get('https://www.alphavantage.co/query', params=params)
    response_json = response.json()
    return response_json['Time Series (Daily)'][current]['1. open']

def read_from_excel(filename):
    return pd.read_excel(filename, sheet_name=None)

Next, we will call `read_from_excel()` to get a `list`
 of stock symbols to query.

In [0]:
data = read_from_excel('/content/Ticker Symbols.xlsx')
dataframe = data['Stocks']
for index, row in dataframe.iterrows():
    dataframe.loc[index, "Price"] = get_stock_opening_price(row['Ticker'])
print(dataframe)

  Ticker     Price
0   NSIT   54.7000
1   MSFT  132.6300
2   CSCO   54.9900
3   AAPL  192.9000

Finally, we should write the information back to the Excel file.

In [0]:
with pd.ExcelWriter('/content/Ticker Symbols.xlsx') as writer:
    dataframe.to_excel(writer, sheet_name='Stocks', index=False)

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

## Testing Frameworks

Any application that is more than just a simple script should have some automatible testing associated to it.

There are three main types of tests - unit, integration, and validation.

> In computer programming, **unit testing** is a software testing method by which individual units of source code, sets of one or more computer program modules together with associated control data, usage procedures, and operating procedures, are tested to determine whether they are fit for use. - https://en.wikipedia.org/wiki/Unit_testing

> **Integration testing** (sometimes called integration and testing, abbreviated I&T) is the phase in software testing in which individual software modules are combined and tested as a group. Integration testing is conducted to evaluate the compliance of a system or component with specified functional requirements. It occurs after unit testing and before validation testing. Integration testing takes as its input modules that have been unit tested, groups them in larger aggregates, applies tests defined in an integration test plan to those aggregates, and delivers as its output the integrated system ready for system testing. - https://en.wikipedia.org/wiki/Integration_testing

> In software project management, software testing, and software engineering, **verification and validation** (V&V) is the process of checking that a software system meets specifications and that it fulfills its intended purpose. It may also be referred to as software quality control. It is normally the responsibility of software testers as part of the software development lifecycle. In simple terms, software verification is: "Assuming we should build X, does our software achieve its goals without any bugs or gaps?" On the other hand, software validation is: "Was X what we should have built? Does X meet the high level requirements?"- https://en.wikipedia.org/wiki/Software_verification_and_validation

Today we will mostly discuss unit testing and touch on integration tests.

### Unit Testing

Unit tests perform a test against a single piece of code. Each test case should be tested independently from other test cases.

In [0]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    return a / b

The following class is using the built-in Python `unittest` module to perform unit tests against the functions.

In [0]:
import unittest

class MasteryNotebook(unittest.TestCase):
    def test_add(self):
        self.assertEqual(add(1,2), 3)
        self.assertEqual(add(0,1), 1)
        self.assertEqual(add(-1,-1), -2)
    def test_subtract(self):
        self.assertEqual(subtract(2, 1), 1)
        self.assertEqual(subtract(0, 1), -1)
    def test_multiply(self):
        self.assertEqual(multiply(2, 1), 2)
        self.assertEqual(multiply(-1, 1), -1)        
    def test_divide(self):
        with self.assertRaises(ZeroDivisionError):
            divide(1, 0)

unittest.main(argv=[''], verbosity=1, exit=False)

....
----------------------------------------------------------------------
Ran 4 tests in 0.006s

OK

#### Mocks

Remember, a unit test is meant to test an isolated piece of code. What if your unit test requires another source, such as a local database or network connection?

> In object-oriented programming, **mock objects** are simulated objects that mimic the behavior of real objects in controlled ways, most often as part of a software testing initiative. - https://en.wikipedia.org/wiki/Mock_object

Mocks go beyond the content of this course. But they allow you to simulate an external response in a controlled manner. In other words, the mock pretends to be what you want it to be (ex. database call).

*Note:* [Some people](http://arlobelshee.com/tag/no-mocks/) don't like mocks and think it means there is room for improvement with code structure. I'm not opinionated here. Do what accomplishes your task.

### Integration Tests

Integration testing is frequently accomplished using `tox`, which is a Python testing tool. You can also use a full Continuous Integration (CI) system such as TravisCI or Jenkins to run your tests. This is outside the scope of this presentation.

### Coverage

Code coverage means how many lines of code are actually tested. But does that mean that as long as a line of code is tested it is properly tested? No. In the unit test example above, the `test_divide()` test suite only tests for the exception. I'd argue the test suite doesn't fully cover all the cases it should test for. Design your unit tests as well as you can and build-out over time. They won't be perfect day one.

<br><br><font color="#B81590">$$\large-\infty-$$</font><br><br>

# Resources



[wxPython](https://www.wxpython.org/)

[Pandas](https://pandas.pydata.org/)

[Python Context Managers and the "with" Statement](https://realpython.com/courses/python-context-managers-and-with-statement/)

[Requests Library](https://2.python-requests.org/en/master/)

[Getting Started With Testing in Python - Real Python](https://realpython.com/python-testing/)

[Demystifying the Patch Function - Video](https://www.youtube.com/watch?v=ww1UsGZV8fQ)

[Reading and Writing Files in Python](https://realpython.com/read-write-files-python/)